{{ define "main" }}
{{ if isset .Data "Term" }}
<h1>Entries tagged - "{{ .Data.Term }}"</h1>
{{ else }}
<h1 class="page-title">All articles</h1>
{{ end }}
<ul class="posts">
	{{- range .Data.Pages -}}
		{{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
		<li class="post">
			<span class="meta">{{ dateFormat "2006-01-02" .Date }}</span>
			<a href="{{ .RelPermalink }}">{{.Title}}</a>
			<span class="meta">
				{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}
				{{ range (.GetTerms "tags") }}[<a href="{{ .Permalink }}" class="tag">{{ .LinkTitle }}</a>] {{ end }}
			</span>
		</li>
		{{- end -}}
	{{- end -}}
</ul>
<p><a href="/tags">Show all tags.</a> </p>
{{ end }}
